.Accounts-table .input-container {
  width: 100%;
}

.Accounts-table .Collapse-table .row {
  grid-template-columns: 1fr 4fr 2fr 1fr;
}

.Accounts-table .Collapse-table .row.row-full {
  grid-template-columns: 1fr;
}

.bp5-collapse-body .Simple-table {
  margin: 0 auto;
  width: 90%;
}

.bp5-collapse-body .Simple-table .row-heading,
.bp5-collapse-body .Simple-table .row {
  grid-template-columns: 4fr 2fr 1fr;
}

.Account-transactions-dialog,
.Bucket-transactions-dialog {
  width: 70%;
}

.Account-transactions-dialog .Simple-table .row,
.Bucket-transactions-dialog .Simple-table .row {
  grid-template-columns: 3fr 1fr 1fr;
}
